<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="identifier"></div>
      <!-- <div> -->
        <div class="temp-val"></div>
        <input type="checkbox" id="light-switch" />
        <label for="light-switch" id="light-switch-label">
          <div class="screw"></div>
          <div class="switch"></div>
          <div class="screw"></div>
        </label>
        <div id="background"></div>
      <!-- </div> -->
    </div>
    <script src="static/script.js"></script>
  </body>
</html>